.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.in-block {
	display: inline-block;
}

.auto-center {
	margin: 0px auto;
}

.mb-30px{
	margin-bottom: 30px;
}

.mb-60px{
	margin-bottom: 60px;
}

.mb-90px{
	margin-bottom: 90px;
}

.result-box{
	background-color: #ffffff;
	min-height: 200px;
	max-height: 200px;
	padding: 10px;
	font-size: 15px;
}

.page-loading{
	background-color: #7d7d7d;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left : 0;
	opacity: 0.5;
	text-align: center;
	line-height: 900px;
}

.page-loading img{
	width: 25%;
}
